<section id="home">
  <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active indicador"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        class="indicador"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        class="indicador"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        class="indicador"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="8000">
        <img
          src="./assets/images/slider/titan.jpeg"
          class="d-block w-100 imgCarousel"
          alt="img3"
        />
        <div class="carousel-caption d-none d-md-block">
          <h2>Titán</h2>
          <p class="h4">
            Una de nuestras primeras mascotas, que estuvo poco tiempo en la
            familia pero dejo gratos recuerdos por su ternura
          </p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img
          src="./assets/images/slider/perrosYgatos10.png"
          class="d-block w-100 imgCarousel"
          alt="img2"
        />
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img
          src="./assets/images/slider/perrosYgatos1.jpeg"
          class="d-block w-100 imgCarousel"
          alt="img1"
        />
        <div class="carousel-caption d-none d-md-block">
          <h2>Perros y Gatos</h2>
          <p class="h4">Viven y comparten amorosamente sus dulces sueños</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img
          src="./assets/images/slider/perrosYgatos3.jpeg"
          class="d-block w-100 imgCarousel"
          alt="img1"
        />
        <div class="carousel-caption d-none d-md-block">
          <!-- <h2>Four slide label</h2>
          <p class="h4">
            Some representative placeholder content for the third slide.
          </p> -->
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<br />

<!-- slider MISION VISION -->
<section id="nosotros">
  <br />
  <hr />
  <br />
  <div class="section-title">
    <h3
      class="display-4 title animate__animated animate__bounce animate__delay-10s animate__repeat-2"
    >
      Nosotros
    </h3>
  </div>
  <div id="carouselExampleDark" class="carousel slider" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="8000">
        <div class="card mb-3 w-100">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="./assets/images/sinFondo/logo13.png"
                class="img-fluid"
                alt="imagen"
                id="klogo"
              />
            </div>
            <div class="col-md-8 kard">
              <div class="card-body">
                <h5 class="card-title Tslider">MASCOTA <span>FELIZ</span></h5>
                <p class="card-text h4">
                  Somos una empresa ampliamente conocida en el cuidado de la
                  salud y el bienestar de las mascotas, le ofrecemos multiples
                  servicios y productos.
                </p>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div class="card mb-3 w-100">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="./assets/images/slider/bigCat1.png"
                class="img-fluid rounded-start"
                alt="imagen"
              />
            </div>
            <div class="col-md-8 kard">
              <div class="card-body">
                <h5 class="card-title Tslider">Misión</h5>
                <p class="card-text h4">
                  Brindar a nuestros Clientes y a sus Mascotas prodcuctos de
                  alta calidad y servicios con calidez y excelencia, con el
                  objetivo de hacer felices a los peludos y sus dueños, siendo
                  referenciados con altas calificaciones por el público.
                </p>
              </div>
              <a
                type="button"
                routerLink="/gestion/prospectos-crear"
                class="btn btn-secondary btn-lg"
              >
                Contáctanos
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <div class="card mb-3 w-100">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="./assets/images/slider/per6.png"
                class="img-fluid rounded-start"
                alt="imagen"
              />
            </div>
            <div class="col-md-8 kard">
              <div class="card-body">
                <h5 class="card-title Tslider">Visión</h5>
                <p class="card-text h4">
                  Ser catalogada com una empresa lider en el cuidado de mascotas
                  y reconocida por regirse por normas de bienestar animal y de
                  excelencia profesional, logrando que nuestros clientes y sus
                  mascotas tengan la mejor experiencia. <br />
                  Para el 2024 queremos ser los mejores en éste mercado de
                  productos y servicios.
                </p>
              </div>
              <a
                type="button"
                routerLink="/gestion/prospectos-crear"
                class="btn btn-secondary btn-lg"
              >
                Contáctanos
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div class="card mb-3 w-100">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="./assets/images/slider/extranos1.png"
                class="img-fluid rounded-start"
                alt="imagen"
              />
            </div>
            <div class="col-md-8 kard">
              <div class="card-body">
                <h5 class="card-title Tslider">Otras Mascotas</h5>
                <p class="card-text h4">
                  Los animales siempre nos sorprenden. Entre ellos se evidencian
                  relaciones amistosas, incluso entre especies diferentes. Nos
                  dan ejemplo de convivencia y aceptación.
                </p>
              </div>
              <a
                type="button"
                routerLink="/gestion/prospectos-crear"
                class="btn btn-secondary btn-lg"
              >
                Contáctanos
              </a>
            </div>
            <!-- <div class="row row-cols-4 crear ms-1 mt-4"> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<hr />

<section id="planes">
  <div class="section-title">
    <h3 class="display-4 text-center title-planes">Planes</h3>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col planess">
      <div class="card shadows border-info planes">
        <div class="card-header bg-info border-info text-white text-center h4">
          Basico
        </div>
        <div class="card-body">
          <h5 class="card-title display-1 text-center precio">
            $200 <br /><span class="h3">mil/mes</span>
          </h5>
          <p class="card-text p-1">
            <i class="bi bi-check-circle-fill text-success h4"></i> Consultas Veterinarias. <br>
            <i class="bi bi-check-circle-fill text-success h4"></i> Examenes de Laboratorio. <br>
            <i class="bi bi-x-circle-fill text-danger h4"></i> Baño y Peluquería. <br>
            <i class="bi bi-x-circle-fill text-danger h4"></i> SPA. <br>
            <i class="bi bi-x-circle-fill text-danger h4"></i> Visitas Domiciliarias. <br>
            <i class="bi bi-x-circle-fill text-danger h4"></i> Servicios Fúnebres.
          </p>
        </div>
        <button class="btn btn-secondary">Adquirir</button>
      </div>
    </div>
    <div class="col planess">
      <div class="card shadows border-success planes">
        <div
          class="card-header bg-success border-success text-white text-center h4"
        >
          Plata
        </div>
        <div class="card-body">
          <h5 class="card-title display-1 text-center precio">
            $400 <br /><span class="h3">mil/mes</span>
          </h5>
          <p class="card-text p-1">
            <i class="bi bi-check-circle-fill text-success h4"></i> Consultas Veterinarias. <br>
            <i class="bi bi-check-circle-fill text-success h4"></i> Examenes de Laboratorio. <br>
            <i class="bi bi-check-circle-fill text-success h4"></i> Baño y Peluquería. <br>
            <i class="bi bi-check-circle-fill text-success h4"></i> SPA. <br>
            <i class="bi bi-x-circle-fill text-danger h4"></i> Visitas Domiciliarias. <br>
            <i class="bi bi-x-circle-fill text-danger h4"></i> Servicios Fúnebres.
          </p>
        </div>
        <button class="btn btn-secondary">Adquirir</button>
      </div>
    </div>
    <div class="col planess">
      <div class="card shadows border-warning planes">
        <div
          class="card-header bg-warning border-warning text-white text-center h4"
        >
          Oro
        </div>
        <div class="card-body">
          <h5 class="card-title display-1 text-center precio">
            $800 <br /><span class="h3">mil/mes</span>
          </h5>
          <p class="card-text p-1">
            <i class="bi bi-check-circle-fill text-success h4"></i> Consultas Veterinarias. <br>
            <i class="bi bi-check-circle-fill text-success h4"></i> Examenes de Laboratorio. <br>
            <i class="bi bi-check-circle-fill text-success h4"></i> Baño y Peluquería. <br>
            <i class="bi bi-check-circle-fill text-success h4"></i> SPA. <br>
            <i class="bi bi-check-circle-fill text-success h4"></i> Visitas Domiciliarias. <br>
            <i class="bi bi-check-circle-fill text-success h4"></i> Servicios Fúnebres.
          </p>
        </div>
        <button class="btn btn-secondary">Adquirir</button>
      </div>
    </div>
  </div>
</section>
<br />

<section id="equipo">
  <br />
  <hr />
  <br />
  <div class="section-title">
    <h3 class="display-4 text-center title">Nuestros Profesionales</h3>
  </div>

  <div class="row">
    <div class="col col-sm-1 col-md-3">
      <div class="card shadows border-dark text-center">
        <img
          src="./assets/images/team/German-Pena.jpeg"
          alt="Team"
          class="imgTeam img-fluid"
        />
        <div class="card-body">
          <h5 class="card-title h5 text-center">Germán Peña</h5>
          <span>FUNDADOR</span>
          <ul class="social d-flex justify-content-between mt-15 text-center">
            <li>
              <a href="#"><i class="ksocial bi bi-facebook h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-twitter h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-instagram h4"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-sm-1 col-md-3">
      <div class="card shadows border-dark text-center">
        <img
          src="./assets/images/team/Sonia-Arango_cr.png"
          alt="Team"
          class="imgTeam img-fluid"
        />
        <div class="card-body">
          <h5 class="card-title h5 text-center">Sonia Arango</h5>
          <span>Veterinaria</span>
          <ul class="social d-flex justify-content-between mt-15 text-center">
            <li>
              <a href="#"><i class="ksocial bi bi-facebook h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-twitter h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-instagram h4"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-sm-1 col-md-3">
      <div class="card shadows border-dark text-center">
        <img
          src="./assets/images/team/Herry-Osorio.png"
          alt="Team"
          class="imgTeam img-fluid"
        />
        <div class="card-body">
          <h5 class="card-title h5 text-center">Herry Osorio</h5>
          <span>Veterinario</span>
          <ul class="social d-flex justify-content-between mt-15 text-center">
            <li>
              <a href="#"><i class="ksocial bi bi-facebook h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-twitter h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-instagram h4"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-sm-1 col-md-3">
      <div class="card shadows border-dark text-center">
        <img
          src="./assets/images/team/Hugo-Velez.png"
          alt="Team"
          class="imgTeam img-fluid"
        />
        <div class="card-body">
          <h5 class="card-title h5 text-center">Hugo Velez</h5>
          <span>Veterinario</span>
          <ul class="social d-flex justify-content-between mt-15 text-center">
            <li>
              <a href="#"><i class="ksocial bi bi-facebook h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-twitter h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-instagram h4"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-1 col-md-3">
      <div class="card shadows border-dark text-center">
        <img
          src="./assets/images/team/Kevin-Medina.jpeg"
          alt="Team"
          class="imgTeam img-fluid"
        />
        <div class="card-body">
          <h5 class="card-title h5 text-center">Kevin Medina</h5>
          <span>Veterinario</span>
          <ul class="social d-flex justify-content-between mt-15 text-center">
            <li>
              <a href="#"><i class="ksocial bi bi-facebook h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-twitter h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-instagram h4"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-sm-1 col-md-3">
      <div class="card shadows border-dark text-center">
        <img
          src="./assets/images/team/Esteban-Suarez.png"
          alt="Team"
          class="imgTeam img-fluid"
        />
        <div class="card-body">
          <h5 class="card-title h5 text-center">Esteban Suarez</h5>
          <span>Veterinario</span>
          <ul class="social d-flex justify-content-between mt-15 text-center">
            <li>
              <a href="#"><i class="ksocial bi bi-facebook h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-twitter h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-instagram h4"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-sm-1 col-md-3">
      <div class="card shadows border-dark text-center">
        <img
          src="./assets/images/team/Gloria-Cerrano.png"
          alt="Team"
          class="imgTeam img-fluid"
        />
        <div class="card-body">
          <h5 class="card-title h5 text-center">Gloria Cerrano</h5>
          <span>Veterinaria</span>
          <ul class="social d-flex justify-content-between mt-15 text-center">
            <li>
              <a href="#"><i class="ksocial bi bi-facebook h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-twitter h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-instagram h4"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-sm-1 col-md-3">
      <div class="card shadows border-dark text-center">
        <img
          src="./assets/images/team/Amanda-Brito.jpeg"
          alt="Team"
          class="imgTeam img-fluid"
        />
        <div class="card-body">
          <h5 class="card-title h5 text-center">Amanda Brito</h5>
          <span>Veterinaria</span>
          <ul class="social d-flex justify-content-between mt-15 text-center">
            <li>
              <a href="#"><i class="ksocial bi bi-facebook h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-twitter h4"></i></a>
            </li>
            <li>
              <a href="#"><i class="ksocial bi bi-instagram h4"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
