<div class="container" id="contacto">
  <div class="section-title">
    <h3 class="display-4 title" >
      Iniciar Sesión
    </h3>
  </div>

  <div class="card mb-3 w-50 shadow formularios">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="./assets/images/sinFondo/labrador1.png" 
          class="img-fluid imgForm"
          alt="imagen"
        />
      </div>
      <div class="col-md-8 kard">
        <div class="card-body">
          <form [formGroup]="formLogin" (ngSubmit)="login()">
            
            <div class="rows mb-3 mt-4">
              <div class="col-md input-group has-validation">
                <div class="form-floating is-invalid">
                  <i class="bi bi-envelope-at-fill kicon h2"></i>
                  <input formControlName="correo"
                    type="email"
                    class="form-control"
                    id="floatingCorreo"
                    placeholder="name@example.com"
                    value=""
                  />
                  <label for="floatingCorreo">Email</label>
                </div>
                <div *ngIf="formLogin.get('correo')?.touched && formLogin.get('correo')?.errors?.['required']"
                 class="invalid-feedback">
                  Digite su correo electrónico
                </div>
              </div>
              <div class="col-md input-group has-validation mt-3">
                <div class="form-floating is-invalid">
                  <i class="bi bi-key-fill kicon h2"></i>
                  <input formControlName="contrasena"
                    type="text"
                    class="form-control"
                    id="floatingContrasena"
                    placeholder="Contraseña"
                    value=""
                  />
                  <label for="floatingContrasena">Contraseña</label>
                </div>
                <div *ngIf="formLogin.get('contrasena')?.touched && formLogin.get('contrasena')?.errors?.['required']"
                 class="invalid-feedback">Digite su Contraseña</div>
              </div>

              <br>
              <!-- <a class=" klink" routerLink="/seguridad/recuperarClave">Recuperar Contraseña</a> -->
              <br>
              <!-- <a class=" klink" routerLink="/seguridad/cambiarClave">Cambiar Contraseña</a> -->
            </div>

            <div class="rows ms-1 mt-3">
              <button [disabled]="!formLogin.valid" type="submit" class="btn btn-secondary btn-lg">
                Iniciar Sesión
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
