<div class="container" id="contacto">
  <div class="section-title">
    <h3 class="display-4 title" >
      Cambiar Contraseña
    </h3>
  </div>

  <div class="card mb-3 w-50 shadow formularios">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="./assets/images/sinFondo/labrador1.png" 
          class="img-fluid imgForm"
          alt="imagen"
        />
      </div>
      <div class="col-md-8 kard">
        <div class="card-body">
          <form action="">
            
            <div class="rows g-2">
              <div class="col-md input-group has-validation">
                <div class="form-floating is-invalid">
                  <i class="bi bi-envelope-at-fill kicon h2"></i>
                  <input
                    type="email"
                    class="form-control"
                    id="floatingEmail"
                    placeholder="name@example.com"
                    value=""
                  />
                  <label for="floatingEmail">Email</label>
                </div>
                <div class="invalid-feedback">
                  Digite su correo electrónico
                </div>
              </div>

              <div class="col-md input-group has-validation">
                <div class="form-floating is-invalid">
                  <i class="bi bi-key-fill kicon h2"></i>
                  <input
                    type="password"
                    class="form-control"
                    id="floatingContrasena1"
                    placeholder="Contraseña"
                    value=""
                  />
                  <label for="floatingContrasena1">Contraseña</label>
                </div>
                <div class="invalid-feedback">Digite su Contraseña</div>
              </div>

              <div class="col-md input-group has-validation">
                <div class="form-floating is-invalid">
                  <i class="bi bi-key-fill kicon h2"></i>
                  <input
                    type="password"
                    class="form-control"
                    id="floatingContrasena2"
                    placeholder="Contraseña"
                    value=""
                  />
                  <label for="floatingContrasena2">Confirmar</label>
                </div>
                <div class="invalid-feedback">Las Contraseñas son Diferentes</div>
              </div>

            </div>

            <div class="rows ms-1 mt-4">
              <button type="submit" class="btn btn-secondary btn-lg">
                Actualizar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
